<h1>Index</h1>

<h3> Os links acima irao redirecionar o usuario para paginas diferentes (:' </h3>


<h5> Escolha uma parte de preferencia e maos na massa :D  </h5>
<h5> Viajens: Lista todas as viajens disponiveis  </h5>
<h5>Companhias: Mostra todas as companhias que o site se vincula </h5>
<h5> Fotos: Mostra a foto dos lugares  </h5>
<h5> A descricao do que cada pagina esta fazendo pode ser encontrada no detalhes das notas em: </h5>
<h5> https://trello.com/b/3LRn2rrT/site-de-viajens </h5>
