<h1> Adicionar agencia </h1>
<%= form_for :agencia, url: agencias_path do |f| %>
    <p>
        <%= f.label :nome %><br> 
        <%= f.text_field(:nome,{:class => 'form-control'})%>
    </p>
    
    <p>
        <%= f.submit({:class => 'btn btn-primary'}) %>
    </p>
<%end%>
    