<h2> Lista de agencias</h2>
<h2><%= @agencia.nome  %> </h2> 
<%= link_to "Delete", agencia_path(@agencia),
                    method: :delete,
                    data: {confirm: 'Are you sure?'},
                    :class => 'btn btn-danger' %>


<hr> 

<h3>Adicionar Viajens</h3>
<%= form_for @agencia.Adicionar do |f| %>
    
    <p>
        <%= f.label :modo %><br> 
        <%= f.text_field(:modo,{:class => 'form-control'})%>
    </p>
    
    <p>
        <%= f.label :duracao %><br> 
        <%= f.text_field(:duracao,{:class => 'form-control'})%>
    </p>
    <p>
        <%= f.label :preco %><br> 
        <%= f.text_field(:preco,{:class => 'form-control'})%>
    </p>
    <p>
        <%= f.label :bagagemMax %><br> 
        <%= f.text_field(:bagagemMax,{:class => 'form-control'})%>
    </p>
    <p>
        <%= f.label :local %><br> 
        <%= f.text_field(:local,{:class => 'form-control'})%>
    </p>
    
    <p>

        <%= f   .submit({:class => 'btn btn-primary'}) %>   
    </p>
<%end%>
