<!DOCTYPE html>
<html>
  <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Viajar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Viajar.com</a>
    </div>
    <ul class="nav navbar-nav">
    <li><%= link_to "Home", home_path %></li>
    <li><a href="#">Viajens</a></li> 
    <li><a href="#">Fotos</a></li>
    <li><a href="#">Sobre Locais</a></li>
    
    <li><%= link_to "Agencias", listaagencias_path %></li>

    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Mais
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Adicionar viajem</a></li>
      <li><%= link_to "Autorizar nova companhia", neew_path %></li>

    </ul>
  </li>

  </ul>
  <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    </ul>
    <ul class="nav navbar-nav navbar-right">

  </ul>
  </div>
</nav>
<div class="container">
    <%= yield %>
  </body>
</html>
